#!/bin/bash

#  start redirect stdout and stderror to tee so it is not hanging on exit...
exec > >(tee -a /tmp/$$_jct_deploy.log) 2>&1

ECODE=0

checkExit(){
if [ ${ECODE} -ne 0 ]; then
   echo "ERROR: exit code ${ECODE} on : $1"
fi
}

# switch on  assistance.html page on apache
activateAssistanceOnApache(){
if [ -f /u01/data/httpd/appl/${Prefix}_assistance.html.tmp ]; then
   ln -sf /u01/data/httpd/appl/${Prefix}_assistance.html.tmp /u01/data/httpd/appl/${Prefix}_maintenance.html
   touch /u01/data/httpd/appl/${Prefix}_maintenance.enable
   chown  admhttpd:admhttpd /u01/data/httpd/appl/${Prefix}_maintenance.enable /u01/data/httpd/appl/${Prefix}_maintenance.html
   # restart not needed
else
   echo "WARN: /u01/data/httpd/appl/${Prefix}_assistance.html.tmp not found or permissions problem, activateAssistanceOnApache failed "
fi
}

# switch on  maintenance.html page on apache
activateMaintenanceOnApache(){
if [ -f /u01/data/httpd/appl/${Prefix}_maintenance.html.tmp ]; then
   ln -sf /u01/data/httpd/appl/${Prefix}_maintenance.html.tmp /u01/data/httpd/appl/${Prefix}_maintenance.html
   touch /u01/data/httpd/appl/${Prefix}_maintenance.enable
   chown  admhttpd:admhttpd /u01/data/httpd/appl/${Prefix}_maintenance.enable /u01/data/httpd/appl/${Prefix}_maintenance.html
   # restart not needed
else
   echo "WARN: /u01/data/httpd/appl/${Prefix}_maintenance.html.tmp not found or permissions problem, activateMaintenanceOnApache failed "
fi
}

# deactivate maintenance.html page on apache
deactivateMaintenanceOnApache(){
if [ -f /u01/data/httpd/appl/${Prefix}_maintenance.enable ]; then
   [ -f /u01/data/httpd/appl/${Prefix}_maintenance.html.tmp ] && ln -sf /u01/data/httpd/appl/${Prefix}_maintenance.html.tmp /u01/data/httpd/appl/${Prefix}_maintenance.html
   rm /u01/data/httpd/appl/${Prefix}_maintenance.enable
   # restart not needed
fi
}

# switch to new httpd.conf from rpm installation
switchHttpdConf(){
[ -d /u01/data/httpd/appl ] && chmod -R 0755 /u01/data/httpd/appl &&  chown -R admhttpd:admhttpd /u01/data/httpd/appl 
if [ -f /u01/app/httpd/conf/${Prefix}_httpd.tmp ]; then
   echo "INFO: switch to new ${Prefix}_httpd.tmp from rpm installation and restart Apache"
   /sbin/service httpd stop
   ln -sf /u01/app/httpd/conf/${Prefix}_httpd.tmp /u01/app/httpd/conf/jboss.conf
   chown -R admhttpd:admhttpd /u01/app/httpd/
   chmod 0755 /u01/app/httpd/conf/*
   [ -x /sbin/restorecon ] && /sbin/restorecon -RF /u01/app/httpd 2> /dev/null
   /sbin/service httpd start
else
   echo "WARN: /u01/app/httpd/conf/${Prefix}_httpd.tmp file not found or no permissions, failed to do switchHttpdConf on /u01/app/httpd/conf/jboss.conf"
fi
}


echo "postInstall work -------------"
#set ($nativeport = $ManagementNativePortNumber + $PortOffset) 

echo "setup HOME's and link profiles"
export JAVA_HOME=/u01/app/java/${Prefix}
export JBOSS_HOME=/u01/app/jboss/${Prefix}

ln -s ${JdkPath} /u01/app/java/${Prefix}
chown admrun /u01/app/java/${Prefix}
ln -s ${JbossPath} /u01/app/jboss/${Prefix}
chown admrun /u01/app/jboss/${Prefix}

echo "create log dir's"
mkdir -p /u01/log/admrun/${Prefix}/appl
mkdir -p /u01/log/admrun/${Prefix}/infra
chown -R admrun:logjb /u01/log/admrun/${Prefix}


# Apache httpd conf
switchHttpdConf
activateMaintenanceOnApache


# touch file for first startup without dynatrace
echo "setup for startup without deployments"
touch /u01/app/admrun/${Prefix}/configuration/CLIRUN

# mv deployments away so jboss startsup fast and without deployments to inject cli
mkdir /u01/app/admrun/${Prefix}/deployments-bak
mv /u01/app/admrun/${Prefix}/deployments/* /u01/app/admrun/${Prefix}/deployments-bak/

echo "prepare user rights"
touch /u01/app/admrun/${Prefix}/configuration/application-users.properties 2>&1
chown -R admrun:admjas /u01/app/admrun/${Prefix}
chmod -R 0755 /u01/app/admrun/${Prefix}

#if ( $Host.ExportHomeLink == "Y" )
   ln -s /u01/app/admrun /export/home/admrun
#end

# Register the new JBoss service
echo "install service ${Prefix}"
/sbin/chkconfig --add ${Prefix}
/sbin/chkconfig ${Prefix} on

# start Jboss as a service
echo "Start new JBoss profile as a service"
/sbin/service ${Prefix} start

# wait until jboss is up and running
i=0
while [ $i -lt 120 ]
do
        if /u01/app/admrun/${Prefix}/cli_bin/checkCliConnection.sh ${Prefix} ":read-attribute(name=server-state)" 2>/dev/null ; then
                break
        fi
        let i=i+1
        sleep 5
done

# run initial cli script
echo "Run initial cli"
/u01/app/admrun/${Prefix}/cli_bin/runCli.sh ${Prefix} /u01/app/admrun/${Prefix}/cli_bin/initial.cli
ECODE=$?
checkExit "runCli.sh ${Prefix} /u01/app/admrun/${Prefix}/cli_bin/initial.cli"
[ $ECODE -ne 0 ] && echo "WARN: activate Assistance Page on Apache" && activateAssistanceOnApache

# stop jboss
/sbin/service ${Prefix} stop

# setup Monitoring
echo "setup Monitoring"

if [ ! -e /opt/IBM/ITM/tmp/heapsize.log ]; then
	touch /opt/IBM/ITM/tmp/heapsize.log
	chown itmuser1:itmusers /opt/IBM/ITM/tmp/heapsize.log
fi

if ! grep -q "heapsize.log" /etc/IBM/kul_configfile; then
	echo '/opt/IBM/ITM/tmp/heapsize.log    ;n      ;u      ;a,"%s %s %s %1000[^\n]", source type system desc' >> /etc/IBM/kul_configfile
fi

kulConfig=$(</u01/app/admrun/${Prefix}/kcf.txt)
if grep -q "JBOSS" /etc/IBM/kul_configfile
then
        sed '/#JBOSSSTART/,/#JBOSSEND/d' /etc/IBM/kul_configfile > /tmp/x
        mv /tmp/x /etc/IBM/kul_configfile
fi
echo "$kulConfig" >> /etc/IBM/kul_configfile

echo "restarting jb_itmagent"
/sbin/service jb_itmagent restart

# move deployments in place and clean up

mv /u01/app/admrun/${Prefix}/deployments-bak/* /u01/app/admrun/${Prefix}/deployments
rm -rf /u01/app/admrun/${Prefix}/deployments-bak
rm /u01/app/admrun/${Prefix}/configuration/CLIRUN
#if ( $QueueFactories.size() > 0 )
if [ -f /opt/mqm/java/lib/jca/wmq.jmsra.rar ]; then
   cp /opt/mqm/java/lib/jca/wmq.jmsra.rar /u01/app/admrun/${Prefix}/deployments
else
   echo "ERROR: missing /opt/mqm/java/lib/jca/wmq.jmsra.rar but JMS Configuration present!!!"
fi
#end

# Start Jboss as a service
echo "Starting JBoss customized profile with deployments"
/sbin/service ${Prefix} start

[ $ECODE -eq 0 ] && echo "INFO:remove maintenance Page on Apache"  && deactivateMaintenanceOnApache

echo "INFO: Deployment status:"
/u01/app/admrun/${Prefix}/cli_bin/cliShell.sh ${Prefix} << EOF
connect
deployment-info --headers=
exit
EOF

echo "INFO:postInstall work ---------Done"

# finish redirecting stdout & stderr to tee
exec 1>&- 2>&-

mv /tmp/$$_jct_deploy.log /u01/log/admrun/${Prefix}/infra/deployment.log
chown -R admrun:logjb /u01/log/admrun/${Prefix}/infra/deployment.log