#!/bin/bash
echo "!!! Pre installation work is going here...."

echo "clean previous istallation"
if [ -d "/u01/app/admrun/${Prefix}" ]; then
  /bin/rm -rf /u01/app/admrun/${Prefix}
fi

echo "setsebool ..."
/usr/sbin/setsebool -P httpd_disable_trans 1
/usr/sbin/setsebool -P httpd_can_network_connect 1

# /bin/chmod 2755 /u01/log
if [[ `/bin/hostname -s` != "${HostName}" ]]; then
    echo "This is not target host ${HostName}"
	exit -1
fi
